body {
    background: url(../images/bg-sanfrancisco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background doesnt move with scrolling */
    height: 300vh;
}