.container {
    display: flex;
    flex-direction: column;
    /* for mobile approach first */

}

.box {
    background-color: blue;
    padding: 1rem;
}

.box:nth-of-type(2) {
    background-color: gold;
}

@media screen and (min-width:600px) and (max-width:900px) {
    .container {
        flex-direction: row;
    }
}